/* ================ */
.required{
	color: red;
}
.error{
	color: red;
	float: right;
	padding-left: 10px;
}
.warning{
	color: blue;
}
.message{
	color: green;
}
.contentShow{
	text-align: center;
}
.contentImage{
	width: 150px;
	height: 200px;
	margin: auto;
}
.contentImage img{
	width: 100%;
	background-color: #fff;
	padding: 3px;
	border-radius: 0 10px 0 10px;
}
/* ================ */

.container{
	width: 90%;
	margin: 0 auto;
	font-family: sans-serif;
}
.header_area, .footer_area{
	background-color: #555;
	text-align: center;
	padding: 10px 0;
}
.header_area h2, .footer_area h2{
	color: #fff;
	margin: 0;
}
.content_area{
	min-height: 500px;
	padding: 10px;
	background-color: #ddd;
}
#index{
	width: 95%;
	margin: 0 auto;
}
#index img{
	width: 60px;
	height: 80px;
	background-color: #fff;
	padding: 2px;
	border-radius: 5px;
}
#show{
	width: 50%;
	margin: auto;
}
#index, #index td, #show, #show td{
	border: 1px solid #000;
	border-collapse: collapse;
	padding: 3px;
	text-align: center;
}
#index ul, #show ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}
#index ul li, #show ul li{
	display: inline;
}
#index ul li:after, #show ul li:after{
	content: ", ";
}
#index ul li:last-child:after, #show ul li:last-child:after{
	content: '';
}
textarea{
	resize: none;
}
